[run]
source = lab1_utils,lab2_utils,lab3_units,lab_4_units,lab5_utils,utils,algo_tests
omit =
    */tests/*
    */__pycache__/*
    */venv/*
    */.venv/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:

[xml]
output = coverage.xml

[html]
directory = htmlcov